pkgbase = sudo
	pkgdesc = Give certain users the ability to run some commands as root
	pkgver = 1.9.15
	pkgrel = 1
	url = https://www.sudo.ws/sudo/
	install = sudo.install
	arch = x86_64
	license = custom
	depends = glibc
	depends = openssl
	depends = pam
	depends = libldap
	depends = zlib
	backup = etc/pam.d/sudo
	backup = etc/sudo.conf
	backup = etc/sudo_logsrvd.conf
	backup = etc/sudoers
	source = https://www.sudo.ws/sudo/dist/sudo-1.9.15.tar.gz
	source = https://www.sudo.ws/sudo/dist/sudo-1.9.15.tar.gz.sig
	source = sudo_logsrvd.service
	source = sudo.pam
	validpgpkeys = 59D1E9CCBA2B376704FDD35BA9F4C021CEA470FB
	sha256sums = fd0e254870e92e873b508ba16382f5ac3af81a5a38d1ea9cf973606db4262589
	sha256sums = SKIP
	sha256sums = 8b91733b73171827c360a3e01f4692772b78e62ceca0cf0fd4b770aba35081a1
	sha256sums = d1738818070684a5d2c9b26224906aad69a4fea77aabd960fc2675aee2df1fa2

pkgname = sudo
	depends = glibc
	depends = openssl
	depends = pam
	depends = libldap
	depends = zlib
	depends = libcrypto.so
	depends = libssl.so
